%ul.list-unstyled
  - recipes.each do |recipe|
    %li
      .row{ 'data-link' => recipe_path(recipe)}
        .col-sm-2.col-xs-3
          = main_picture_tag recipe, :thumb
        .col-sm-10.col-xs-9
          %h4.btn-link= recipe.name
