%script{ id: 'step-template', type: 'text/html'}
  .accordion-group
    .accordion-heading
      = link_to '#collapseOne', class: 'accordion-toggle', 'data-toggle' => 'collapse', 'data-parent' => '.accordion' do
        %span{ 'data-content' => 'name' }
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %p
          Duration:
          %span{ 'data-content' => 'duration' }

        %p{ 'data-content' => 'ingredients', 'data-format' => 'ingredients' }
