@import 'bootstrap'
@import "bootstrap/_mixins"

// Index

@mixin left-break
  margin-left: 0px
  clear: left

ul.thumbnails
  list-style-type: none
  padding-left: 0

  .thumbnail
    @include box-sizing(border-box)

    border: 2px solid $gray-light
    border-radius: 10px

    padding: 10px

  .caption

    h3
      @include text-overflow

    .categories-row
      margin-top: 5px
      min-height: 20px

.well
  .btn-group
    margin-top: 15px

// SHOW
@mixin margin-vertical($margin)
  margin-top: $margin
  margin-bottom: $margin

@mixin boxed($border, $border-radius, $margin-vertical)
  @include box-sizing(border-box)
  border: $border solid $gray-light
  border-radius: $border-radius
  padding: 15px
  @include margin-vertical($margin-vertical)

.shadow
  @include box-shadow(inset 0 0 2px $gray-dark)

.boxed
  @include boxed(2px, 15px, 15px)

.small-boxed
  @include boxed(2px, 10px, 0px)

.presentation
  .row
    margin-bottom: 10px

  #carousel
    width: 300px

  .title
    @include text-overflow

.steps-container
  background: $gray-lighter

  .step
    background: #000

.ingredients
  .ingredient
    width: 250px

    .amount
      font-style: italic
      float: right

.videos-container
  background: $gray-lighter

  .video
    background: #000

    .video-input:
      margin-right: 10px

// General
.picture
  border-radius: 5px

.duration
  background: $gray-lighter
  max-width: 170px
  i
    margin-left: 2px

.small-duration
  padding: 3px

.difficulty
  i
    margin-left: 4px

.short-input
  width: 103px

.icon-plus-sign
  margin-right: 2px

// Navigation

.well
  .btn-large
    margin-right: 5px
